<ion-view view-title="BolsaML">
  <ion-content>
    <ion-slide-box id="slide-box" on-slide-changed="slideChanged(index)">
      <ion-slide>
      	<div>
  		    <h3>Welcome to BolsaML</h3>
		    </div>
        <div style="display:table-cell;vertical-align:middle;">
  		  <div id="logo" style="margin-left:auto;margin-right:auto;">
  		    <img src="./img/icon.png">
  		  </div>
		    </div>
      	<div>
        <br>
        <p>
          The Stock Exchange Simulator that actually works.
        </p>
        <p>
          We hope you like the experience.
        </p>
      	</div>
      </ion-slide>
      <ion-slide>
        <h3>Using BolsaML</h3>    
        <div>
          <h5>Just three steps:</h5>
          <ol>
            <li>Sign UP</li>
            <li>Sign IN</li>
            <li>Go ahead and start investing!</li>
          </ol>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
